body{
    text-align: center;
}


#likeBtn, #dislikeBtn{
    padding: 10px 25px 10px 25px;
    font-size: 40px;
    border-radius: 10px;

}


h1, h2{
    color: rgb(61, 61, 61);
}



#sumbit, #clear{
    margin: 5px;
    padding: 10px 25px 10px 25px;
    font-size: 15px;
    background-color: #333;
    color: white;
    border-radius: 10px;

}


.comments{
    margin-top: 3%;
}


.comments h3{
    margin-bottom: 1.5%;
}

#commentBox{
    width: 25%;
    height: 100px;
    margin: 0 35%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #333;
    border-radius: 5px;

}


#commentList p{
    font-size: 35px;
}
